footer.content-info {
    background-color: $black;
    border-top: 1px solid $gray;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    @media all and (max-width: 992px)
    {
        position: relative;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            a {
                display: block;
                padding: 20px;
            }
        }
    }
}
.blog footer.content-info {
    position: relative;
}
