#mainHeader {
  background-color: $black;
  border-bottom: 1px solid $gray;
  position: fixed;
  min-height: 95px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  #langs {
    z-index: 999999999;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  @media all and (max-width: 992px) {
    position: relative;
  }

  #max {
    display: none;
    margin: 0 auto;
    padding: 20px 0;
    @media all and (max-width: 992px) {
      display: block;
    }
  }

  .nav-primary {
    #ham {
      display: none;
      @media all and (max-width: 992px) {
        display: block;
        margin: 0 auto;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media all and (max-width: 992px) {
        flex-direction: column;
        display: none;
      }

      li {
        position: relative;
        flex: 1;

        &:hover > a {
          color: $red;
        }

        &.homeLink {
          display: flex;
          align-items: center;
          justify-content: center;
          @media all and (max-width: 992px) {
            display: none;
          }
        > a {
            line-height: 1;
        }
          a {
            color: transparent !important;
            display: block;
            width: 100%;
            margin: 0 auto;
            height: 100%;
            width: 84px;
            height: 57px;
            background-image: url("../images/max.png");
            background-repeat: no-repeat;
            background-size: contain;

            &:hover {
              color: transparent;
            }

            &:focus {
              color: transparent;
            }
          }
        }

        a {
          font-size: 3rem;
          color: #a4a4a4;
          letter-spacing: -0.1em;
          padding: 32px 20px;
          display: block;
          text-transform: uppercase;
          margin: 0 auto;
          text-align: center;

          &:hover {
            color: $red;
            text-decoration: none;
          }

          &:focus {
            color: $red;
            text-decoration: none;
          }
        }

        .sub-menu {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: none;
          position: absolute;
          top: calc(100% + 1px);
          min-width: 100%;
          width: auto;
          overflow-x: visible;
          left: 0;
          background-color: rgba(0,0,0,0.7);
          @media all and (max-width: 992px) {
            position: relative;
          }

          li {
            border-bottom: 1px solid $gray;
            width: 100%;
            display: block;
            position: relative;

            a {
              width: 100%;
              padding: 25px;
              white-space: nowrap;
            }
          }
        }

        &.menu-item-has-children {
          &:focus {
            .sub-menu {
              display: block;
            }
          }

          &:hover {
            .sub-menu {
              display: block;

              li {
                .sub-menu {
                  position: absolute;
                  @media all and (max-width: 992px) {
                    position: relative;
                    left: 0;
                    top: 0;
                  }
                  left: 100%;
                  top: 0;
                  background-color: rgba(51, 51, 51, 0.7);

                  li {
                    display: none;
                  }
                }
              }

              li {
                &:hover {
                  .sub-menu {
                    position: absolute;
                    @media all and (max-width: 992px) {
                      position: relative;
                      left: 0;
                      top: 0;
                    }
                    left: 100%;
                    top: 0;

                    li {
                      display: block;
                      @media all and (max-width: 992px) {
                        display: inline-block;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &:last-child,
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8) {
            color:yellow;
          .sub-menu {
            li {
              &:hover {
                .sub-menu {
                  position: absolute;

                  left: -100% !important;
                  top: 0;
                  @media all and (max-width: 992px) {
                    position: relative;
                    left: 0 !important;
                    top: 0;
                  }

                  li {
                    display: block;
                    @media all and (max-width: 992px) {
                      display: inline-block;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
