.page-header {
    h1 {
        font-size: 8rem;
        letter-spacing: -0.01em;
    }
}
.frontPage {
    .page-header {
        width: 100%;
    }
    h1 {
        font-size: 8rem;
        letter-spacing: -0.1em;
        color: #6c696a;
        margin: 10px 0;
    }
    p {
        font-size: 4rem;
        letter-spacing: -0.1em;
        color: #6c696a;
        line-height: 1.2;
    }
}
.pageKontakt {
    .newsletter {
        padding: 60px 0;
        input[type="text"] {
            width: 100%;
            border: none;
            font-size: 3.4rem;
            color: #ffffff;
            background-color: rgba(255,255,255,0.1);
            margin-bottom: 10px;
            line-height: 1.2;
            padding: 5px;
            text-align: center;
            letter-spacing: -0.1em;
            &::-moz-placeholder {
                text-align: center;
            }
        }
        input[type="submit"] {
            border: none;
            margin: 0;
            background-image: none;
            background-color: transparent;
            color: $red;
            font-size: 3.4rem;
            width: 100%;
            text-align: center;
            letter-spacing: -0.1em;
        }
    }
    article {
        h1 {
            letter-spacing: -0.1em;
            color: $gray;
            text-align: center;
            font-size: 8rem;
        }
        p {
            font-size: 4.1rem;
            letter-spacing: -0.1em;
            color: $gray;
            text-align: center;
        }
    }
    span {
        width: 100%;
    }
    footer {
        font-size: 2rem;
        color: $gray;
        text-align: center;
    }
    .wpcf7 {
        input[type="text"] {
            width: 100%;
            border: none;
            font-size: 3.4rem;
            color: #ffffff;
            background-color: rgba(255,255,255,0.1);
            margin-bottom: 10px;
            line-height: 1;
            padding: 5px;
            text-align: center;
            letter-spacing: -0.1em;
            &::-moz-placeholder {
                text-align: center;
            }
        }
        input[type="tel"] {
            width: 100%;
            border: none;
            font-size: 3.4rem;
            color: #ffffff;
            text-align: center;
            background-color: rgba(255,255,255,0.1);
            margin-bottom: 10px;
            line-height: 1;
            padding: 5px;
            letter-spacing: -0.1em;
            &::-moz-placeholder {
                text-align: center;
            }
        }
        input[type="email"] {
            width: 100%;
            border: none;
            font-size: 3.4rem;
            color: #ffffff;
            text-align: center;
            background-color: rgba(255,255,255,0.1);
            margin-bottom: 10px;
            line-height: 1;
            padding: 5px;
            letter-spacing: -0.1em;
            &::-moz-placeholder {
                text-align: center;
            }
        }
        input[type="submit"] {
            width: 100%;
            border: none;
            background-color: transparent;
            background-image: none;
            text-align: center;
            font-size: 3.4rem;
            letter-spacing: -0.1em;
            text-align: center;
            color: #ffffff;
        }
        textarea {
            width: 100%;
            border: none;
            font-size: 3.4rem;
            color: #ffffff;
            background-color: rgba(255,255,255,0.1);
            margin-bottom: 10px;
            line-height: 1;
            text-align: center;
            padding: 5px;
            letter-spacing: -0.1em;
            min-height: 204px;
            &::-moz-placeholder {
                text-align: center;
            }
        }
    }
}
.page-about {

    column-count: 2;
    column-gap: 50px;
    @media all and (max-width: 992px) {
        column-count: 1;
    }
    h1 {
        font-size: 8rem;
        letter-spacing: -0.1em;
        margin-bottom: 50px;
    }
    p {
        font-size: 2rem;
        color: #ffffff;
        letter-spacing: 0.05em;
        line-height: 1.6;
    }

}
