.indexSite {
    position: relative;

    min-height: calc(100vh - 62px);
    padding-top: 140px;
    padding-bottom: 0;
    @media all and (max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .wrap {
        min-height: calc(100vh - 140px - 62px);
    }
}
.single-post {
    .siteScroll {
        min-height: calc(100vh - 61px);
    }
}
.singleBlog {
    article {
        padding: 30px 0;
        display: flex;
        @media all and (max-width: 1460px) {
            padding: 20px 0;
        }
        @media all and (max-width: 1380px) {
            padding: 15px 0;
        }
        @media all and (max-width: 992px) {
            flex-direction: column;
        }
        figure {
            min-width: 180px;
            padding: 0;
            margin: 0 0 0 0;
            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
            @media all and (max-width: 1460px) and (max-height: 860px) {
                width: 150px;
                min-width: 150px;
            }
            @media all and (max-width: 1380px) {
                width: 130px;
                min-width: 130px;
            }
            @media all and (max-width: 992px) {
                padding: 15px 30px;
                min-width: 100%;
            }

        }
        .entry-summary {
            padding: 0 30px;
            width: 100%;
            padding-bottom: 30px;
            position: relative;

        }
        .singleLink {
            position: absolute;
            bottom: 0;
            left: 30px;
            max-width: calc(100% - 60px);
            font-size: 2rem;
            color: #ffffff;
            letter-spacing: 0.05em;
            &:hover {
                color: $red;
            }
        }
        h2 {
            font-size: 3rem;

            color: $gray;
            letter-spacing: -0.1em;
            a {
                color: $gray;
            }
        }
        hr {
            color: $gray;
            background-color: $gray;
            margin-top: 3rem;
            margin-bottom: 3rem;
            @media all and (max-width: 1380px) {
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
        p {
            font-size: 2rem;
            color: #ffffff;
            letter-spacing: 0.05em;
            a {
                color: #ffffff;
            }
        }
    }
}
#singlePost {

    h1 {
        font-size: 4rem;
        color: $gray;
        text-align: center;
        margin: 0;
        padding: 40px 0 10px 0;
        letter-spacing: -0.1em;
    }
    hr {
        background-color: $gray;
        color: $gray;
    }
    p {
        font-size: 2rem;
        color: #ffffff;
    }
    .img-full {
        width: 100%;
    }
    .img-fixed {
        // position: fixed;
        // z-index: 99999;
        // width: 100%;
        // left: 0;
        // right: 0;

    }
    .entry-content {
        padding: 20px 0;
    }
}
.padNav {
    min-height: 40px;
}
.pagination {
    display: flex;
    align-items: center;
    border-top: 1px solid $gray;
    margin-bottom: -40px;
    margin-top: 0;
    justify-content: center;
    min-height: 40px;
    a {
        color: $gray;
        font-size: 1.8rem;
        display: inline-block;
        padding: 8px;
        &:hover {
            color: $red;
        }
    }
    span {
        color: $gray;
        font-size: 1.8rem;
        display: inline-block;
        padding: 8px;
        color: $red;
    }
}
.nav-links {
    width: 100%;
    @media all and (max-width: 768px) {
        display: none;
    }
    .nav-previous {
        color: $gray;
        font-size: 1.8rem;
        display: inline-block;
        padding: 8px;
        float: right;
        a {
            color: $gray;
        }

    }
    .nav-next {
        color: $gray;
        font-size: 1.8rem;
        display: inline-block;
        padding: 8px;
        float: left;
        a {
            color: $gray;
        }
    }
}
