.catDesc {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .catDescription {
        p {
            font-size: 1.8rem;
            color: #ffffff;
            line-height: 1.8;
        }
    }
}
.wrapProduct {
    display: flex;
    width: 100%;
    height: 100%;
}
.seriesContent {
    height: 100%;
    width: 100%;
    font-size: 0;
}
.prodWrap {
    width: auto;
    height: auto;
    display: inline-block;

    background-size: cover;
    background-position: center;
    @media all and (max-width: 992px) {
        width: 100% !important;
        height: 300px !important;
    }

}
.prod {
    height: 100%;
    width: 100%;
    display: inline-block;


    position: relative;
    &:hover {
        background-color: rgba(255,33,33,0.5);
    }
    @media all and (max-width: 992px) {
        width: 100% !important;
        height: 300px !important;
    }
    h2 {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 3rem;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 20px;
        color: #ffffff;


    }

}
.product {
    hr {
        color: #696868;
        background-color: #696868;
        margin: 0;
        line-height: 1.1;
    }
    .terms {
        list-style-type: none;
        margin: 0;
        padding: 0 50px;
        li {
            font-size: 4.2rem;
            display: inline-block;
            letter-spacing: -0.1em;
            color: #696868;
            margin: 0;
            line-height: 1.1;
            padding: 0 0 0.5em 0;
            &:last-child {
                span {
                    display: none;
                }
            }
            @media all and (max-width: 992px) {
                padding: 0 30px 0.5em 30px;
            }
        }
    }
    h1 {
        font-size: 8.2rem;
        color: #ffffff;
        letter-spacing: -0.1em;
        margin: 0;
        line-height: 1.1;
        padding: 0.1em 50px;
        @media all and (max-width: 992px) {
            padding: 0.1em 30px;
        }
    }
    h3 {
        font-size: 4.2rem;
        letter-spacing: -0.1em;
        color: #696868;
        margin: 0;
        padding: 0 50px 0.5em 50px;
        @media all and (max-width: 992px) {
            padding: 0 30px 0.5em 30px;
        }
    }
    p {
        margin: 40px 0;
        font-size: 2rem;
        line-height: 1.6;
        color: #ffffff;
        letter-spacing: 0.005rem;
        padding: 0 50px;
        @media all and (max-width: 992px) {
            padding: 0 30px;
        }
    }
    .padRight {
        padding-right: 0;
        padding-bottom: 95px;
    }
    .full-img {
        width: 100%;
        padding: 0 30px;
    }
    #gallery {
        list-style-type: none;
        margin: 0;
        padding: 0 30px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 20px;
        li {
            width: calc((100% - 60px) / 8);
            @media all and (max-width: 992px) {
                width: calc((100% - 60px) / 4);
            }
        }
    }
    footer {
        background-color: $black;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 1rem;

        a {
            display: block;
            padding: 20px 50px;
            color: $red;
            font-size:3rem;
            text-transform: uppercase;
            letter-spacing: -0.1em;

        }
    }
}
.cats {
    padding-top: 100px;
    paddint-bottom: 80px;
    ul {
        padding: 0 50px 0.5em 50px;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
            a {
                font-size: 4.2rem;
                letter-spacing: -0.1em;
                color: #696868;
                margin: 0;
                display:block;
                padding: 5px 20px 5px 0;
                &:hover {
                    color: $red;
                }
            }
        }


        @media all and (max-width: 992px) {
            padding: 0 30px 0.5em 30px;
        }
    }
    hr {
        color: #696868;
        background-color: #696868;
        margin: 0;
        line-height: 1.1;
    }
    h2 {
        font-size: 4.2rem;
        letter-spacing: -0.1em;
        color: #696868;
        margin: 0;
        padding: 0 50px 0.5em 50px;
        @media all and (max-width: 992px) {
            padding: 0 30px 0.5em 30px;
        }
    }
    h3 {
        font-size: 8.2rem;
        color: #ffffff;
        letter-spacing: -0.1em;
        margin: 20px 0;
        line-height: 1.1;
        padding: 0.1em 50px;
        @media all and (max-width: 992px) {
            padding: 0.1em 30px;
        }
    }

    p {
        margin: 40px 0;
        font-size: 2rem;
        line-height: 1.6;
        color: #ffffff;
        letter-spacing: 0.005rem;
        padding: 0 50px;
        @media all and (max-width: 992px) {
            padding: 0 30px;
        }
    }
}
