html {
    overflow-x: hidden;
    font-size: 8px;
    @media all and (max-width: 1366px) {
        font-size: 7px;
    }
    body {
        overflow: hidden;
        background-size: cover;
        background-position: top center;
        background-attachment: fixed;
        min-height: 100vh;
        font-family: $gothic;
        height: 100%;
        position: relative;


    }
}
a {
    outline: 0;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: 0;
        text-decoration: none;
    }
}
li {
    font-size: 1.6rem;
    color: #ffffff;
}
p {
    font-size: 1.4rem;
}
.container-fluid {
    max-width: 1680px;
}
.container {
    @media all and (min-width: 1390px) {
    min-width: 1340px;
}
}
.full {
    max-width: 100%;

}
.siteScroll {
    position: relative;
    min-height: calc(100vh - 62px - 110px);

    padding-top: 200px;
    padding-bottom: 120px;
    @media all and (max-width: 1380px) {
        padding-top: 140px;
        padding-bottom: 60px;
    }
    @media all and (max-width: 992px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.site {
    position: relative;
    height: 100vh;

    padding-top: 100px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    &.siteSeries {
        @media all and (max-width: 992px) {
            padding: 0;
        }
    }
    @media all and (max-width: 992px) {
        min-height: calc(100vh - 176px - 61px);
        height: auto;
    }
    .wrap {
        width: 100%;
    }
}
.o-nas, .about-us {
    .siteScroll {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        min-height: calc(100vh - 62px);
        wrap {

        }
    }
}
.current-menu-item > a {
        color: $red !important;


}
.current-series-parent > a {
        color: $red !important;
}
.red {
    color: $red !important;
}
.single-post {
    .blogLink {
        a {
            color: $red !important;
        }
    }
}

#catapult-cookie-bar {
    font-size: 14px;
}
